default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password: postgres
  pool: 5

development:
  <<: *default
  database: myapp_development

test:
  <<: *default
  database: myapp_test

production:
  <<: *default
  database: application_name_production
  username: allies
  password: <%= ENV['DATABASE_PASSWORD'] %>
  host: localhost

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
